/***************typing BOX*******************/
.mainBOX div > span > span.Rignt{
  background-color: #A9F5D0;
}
.mainBOX div > span > span.Wrong{
  background-color: #F78181;
}
.everySpeed{
  position: relative;
  font-size: 5px;
}
/*****************button***********************/
.startbutton{
  outline:none; 
  border: 0;
  height: 42px;
  width: 125px;
  background-color: white;
  position: absolute;top:70px;left:302px;
}
.startbutton img{
  height:100%;
  width: 100%;
}
/*****************finish***********************/
.pastMain{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #424242;
  opacity: 0.9;
  display: none;
}
.pastBox{
  width: 0;
  height: 0;
  position: absolute;top: 27%;left: 30%;
  border:300px solid transparent;
  border-radius:50%;
  border-top-color:#8696a7;
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
}
.pastBox img{
  height: 100%;
}
.congratulation{
  position: relative;bottom: 270px;right: 100px;
  font-size: 30px;
  color: #DF0101;
  font-weight: bold;
}
.starWstarL{
  position: absolute;bottom: 130px;right:50px;
  height: 50px;
  opacity: 0.6;
  transform: rotate(-30deg);
}
.starWstarM{
  position: absolute;bottom: 150px;left: -25px;
  height: 50px;
  opacity: 0.6;
}
.starWstarR{
  position: absolute;bottom: 130px;left: 50px;
  height: 50px;
  opacity: 0.6;
  transform: rotate(-10deg);
}
.starBstarL{
  position: absolute;bottom: 125px;right:44px;
  height: 65px;
  transform: rotate(-30deg);
  opacity: 0;
}
.starBstarM{
  position: absolute;bottom: 145px;left: -34px;
  height: 65px;
  opacity: 0;
}
.starBstarR{
  position: absolute;bottom: 125px;left:44px;
  height: 65px;
  transform: rotate(-10deg);
  opacity: 0;
}
.level{
  position: absolute;bottom: -125px;left: -172px;
  width: 400px;
}
.level div{
  margin: 30px;
  padding: 20px;
  background-color: #81BEF7;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  border: solid 0;
  display: inline-block;
}

/**************backbottom******************/
.bb{
  height: 42px;
  width: 50px;
  position: absolute;top: 0;left: 0;
  background-color: white;
  z-index: 5;

}
.Back div{
  height: 1px;
  width: 35px;
  background-color: rgba(39, 116, 189, 0.76);
  border-bottom:solid rgba(39, 116, 189, 0.76) 1px;
}
.backtopLine{
  position: absolute;top: 8px;left: 4px;
}
.backMidLine{
  position: absolute;top: 20px;left: 4px;
}
.backBottomLine{
  position: absolute;top: 30px;left: 4px;
} 