.mainBOX div > span > span.Rignt{
  background-color: #A9F5D0;
}
.mainBOX div > span > span.Wrong{
  background-color: #F78181;
}

.everySpeed{
  position: relative;
  top: 0;
  left: 5px;
  font-size: 6px;

}
