*{
  margin:0;
  padding:0;
}
body{
  overflow-x:hidden;
  overflow-y:hidden;
}
/*****************header*************************/
head{
  width: 100%;
  position: absolute;top: 0;
}
header{
  height: 45px;
  width: 100%;
  border-bottom:1px solid #A4A4A4;
}
header .hLeft{
  width: 500px;
  height: 90%;
  float: left;
}
header .hLeft div{
  position: absolute;top: 4px;left: 70px;
  font-size: 22px;
  color: #585858;
}
header .hLeft div a span{
  display: inline-block;
  margin: 0 10px;
  background-color: rgba(39, 116, 189, 0.76);
  padding: 3px 7px;
  border-radius: 5px;
  font-size: 16px;
  color:white;
}
.showlevel{
  display: inline-block;
  margin: 0 60px;
  padding: 5px 7px 0 0;
  border-radius: 5px;
  font-size: 20px;
  color:rgba(39, 116, 189, 0.76);
}
header .hRight{
  height: 90%;
  position: absolute;top: 0;right: 10%;
}
header .hRight img{
  height: 45px;
}
.user{
  float: right;
  margin: 10px 30px 0 0;
  padding: 4px 6px;
  border-radius: 3px;
  background-color:#58D3F7;
}
.user a{
  text-decoration:none;
  color: #EFEFFB;
}
/***************typing area***********************/
.mainBOX{
  display: flex;
  flex-wrap: wrap;
  position: absolute;top:100px;left:20%;
  width: 54%;
}
.mainBOX > div{
  margin: 10px 5px;
}
.mainBOX div > span{
  font-size: 38px; 
  display: inline-block;
  color: #6E6E6E;
  margin: 0 5px;
  padding: 0 15px 0 0;
}
#Passage{
  width: 100%;
  height: 100%;
}
#Line{
  width:110%;
  height: 1px;
  background-color: #A4A4A4;
}
#Linemain {
  width: 1%;
  height: 3px;
  background-color: #81BEF7;
  position: relative;bottom: 2px;
}
#Linehead {
  display: inline;
  border-radius: 25%;
  border: solid #0174DF 2px;
  background-color: #0174DF;
  height: 2px;
  float: right;
  position: relative;bottom: 2px;
}
/***************typing data*************************/
.Data{
  position: absolute;top: 350px;right: 13%;
  width: 110px;
  color: #585858;
}
.Speed{
  height: 80px;
  width: 100%;
  margin: 30px 10px;
}
.SpeedHead{
  font-size: 17px;
}
.SpeedDate{
  display: inline;
  font-size: 34px;
}
.SpeedPs{
  display: inline-block;
  font-size: 15px;
  position: relative;bottom: 18px;
}
.Accurecy{
  height: 80px;
  width: 100%;
  margin: 30px 10px;
}
.AccurecyHead{
  font-size: 17px;
}
.AccurecyDate{
  display: inline;
  font-size: 34px;
}
/*************mark************/
.marks{
  position: absolute;top: 70px;left: 10px;
  width: 250px;
  height: 380px;
  background-color:#58ACFA;
  color: white;
  opacity: 0.6;
  border-radius: 10px;
  display: none;
}
.marks div{
  margin: 8px 10px 20px 20px;
}

